
.frame {
    width: 800px;
    display: block;
    margin: 5px;
}

.frame_log {
    width: 800px;
    border-radius: 5px;
    display: block;
    column-count: 2;
}

.half_frame_left {
    border: 2px solid blue;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.half_frame_right {
    border: 2px solid red;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.brun {
    display: block;
    width: 100%;
}
